/************************ 
* General CSS styles
*************************/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/************************ 
* Font icons
*************************/
@font-face {
  font-display: block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url('../icons/icons.woff') format('woff');
}

.icon--facebook:before {
  font-family: 'icons';
  content: "\ea91";
  display: block;
}

.icon--instagram:before {
  font-family: 'icons';
  content: "\ea92";
  display: block;
}

.icon--twitter:before {
  font-family: 'icons';
  content: "\ea96";
  display: block;
}

.icon--youtube:before {
  font-family: 'icons';
  content: "\ea9d";
  display: block;
}

.icon--linkedin:before {
  font-family: 'icons';
  content: "\eac9";
  display: block;
}

/************************ 
* Header & logo
*************************/
.header {
  width: 100%;
  background-color: #1B9CFC;
  color: #fff;
  padding: 15px;
}

.header__logo {
  width: 64px;
}

.logo-svg {
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 45px;
  }
}

/************************ 
* Navegation
*************************/
.nav-bar__list {
  display: flex;
}

.nav-bar__list-item a {
  display: block;
  padding: 23px;
  color: #fff;
  font-size: 18px;
  transition: opacity 0.3s;
}

.nav-bar__list-item a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .nav-bar__list-item a {
    padding: 12px;
    font-size: 16px;
  }
}

/************************ 
* Section
*************************/
.section {
  padding: 60px;
}

.section__inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 35px;
  }
}

/************************ 
* Buttons
*************************/
.btn {
  min-width: 280px;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}

.btn--pink {
  background-color: #FD7272;
  color: #fff;
}

/************************ 
* Hero Section
*************************/
.hero {
  width: 100%;
  height: 600px;
  background-image: url(../img/swiss-alps.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  left: 0;
  top: 0;
}

.hero__inner {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__main-heading {
  font-size: 50px;
  margin-bottom: 30px;
}

.hero__main-text {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .hero__main-heading {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .hero__main-text {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

/************************ 
* Info Elements Section
*************************/
.info-elems__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.info-elems__item-icon {
  width: 40px;
  height: 40px;
  background: url(../img/icon-www.png) no-repeat center;
  background-size: contain;
  flex-shrink: 0;
}

.info-elems__main-heading {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-elems__main-text {
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
}

.info-elems__features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.info-elems__item {
  display: flex;
}

.info-elems__item-icon {
  margin-right: 20px;
}

.info-elems__item-text h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.info-elems__item-text p {
  font-size: 18px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .info-elems__features {
    display: block;
  }

  .info-elems__item {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 414px) {
  .info-elems__item {
    flex-direction: column;
    align-items: center;
  }

  .info-elems__item-icon {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .info-elems__item-text {
    text-align: center;
  }
}

/************************ 
* Help Section
*************************/

.help {
  background-color: #252F40;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.help__inner {
  display: flex;
}

.help__img,
.help__right {
  width: 50%;
}

.help__img {
  object-fit: cover;
}

.help__right {
  color: #fff;
  padding: 40px 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.help__right h3 {
  font-size: 50px;
  margin-bottom: 15px;
}

.help__right p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.help__cta {
  background-color: #fff;
  color: #252F40;
  border: 2px solid #fff;
  transition: all 0.3s;
}

.help__cta:hover {
  color: #fff;
  background-color: #252F40;
}

@media screen and (max-width: 768px) {
  .help {
    padding: 0;
  }

  .help__inner {
    display: block;
  }

  .help__img,
  .help__right {
    width: 100%;
  }

  .help__right {
    padding: 40px;
    align-items: center;
  }

  .help__right h3 {
    font-size: 35px;
  }

  .help__right p {
    text-align: center;
  }
}

/************************ 
* Footer Section
*************************/

.footer__nav {
  margin-bottom: 30px;
}

.footer__menu {
  display: flex;
  justify-content: center; 
  align-items: center;
} 

.footer__menu-item a {
  color: #252F40;
  font-size: 18px;
}

.footer__menu-item:not(:last-of-type) {
  margin-right: 20px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-list-item a {
  color: #252F40;
  font-size: 25px;
}

.footer__social-list-item:not(:last-of-type) {
  margin-right: 20px;
}